ollama
numpy
pdfplumber
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
dateparser
faster-whisper
openwakeword
sounddevice
soundfile
speechbrain
mediapipe == 0.10.9
opencv-python
webrtcvad-wheels; platform_system == "Windows"
webrtcvad; platform_system != "Windows"